#home {
	/*** Banner Section ***/

	.banner-section {
		position: relative;
	}

	.banner-carousel {
		position: relative;

		.slide-item {
			position: relative;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			padding: 250px 0 200px;

		}

		.content-box {
			position: relative;
			text-align: left;

			h2 {
				width: 50%;
				display: block;
				font-size: 60px;
				font-family: 'Barlow', sans-serif;
				font-weight: 800;
				line-height: 1.2em;
				color: #ffffff;
				margin-bottom: 30px;
				opacity: 0;
				-webkit-transform: translateY(100px);
				-moz-transform: translateY(100px);
				-ms-transform: translateY(100px);
				-o-transform: translateY(100px);
				transform: translateY(100px);
				-webkit-transition: all 500ms ease;
				-moz-transition: all 500ms ease;
				-ms-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
			}

			.descricao {
				width: 50%;
				display: block;
				font-size: 14px;
				letter-spacing: 1px;
				color: #fff;
				font-weight: 500;
				margin-bottom: 45px;
				opacity: 0;
				-webkit-transform: translateY(100px);
				-moz-transform: translateY(100px);
				-ms-transform: translateY(100px);
				-o-transform: translateY(100px);
				transform: translateY(100px);
				-webkit-transition: all 500ms ease;
				-moz-transition: all 500ms ease;
				-ms-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
			}

			.btn-box {
				background: #1b3e7b;
				border-radius: 2px;
				font-size: 16px;
				padding: 10px 20px;
				display: inline-block;
				-webkit-transform: translateY(100px);
				-moz-transform: translateY(100px);
				-ms-transform: translateY(100px);
				-o-transform: translateY(100px);
				transform: translateY(100px);
				-webkit-transition: all 500ms ease;
				-moz-transition: all 500ms ease;
				-ms-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;

				a {
					color: #fff;
				}
			}
		}

		.active {
			.content-box {
				.title {
					opacity: 1;
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					-ms-transform: translateY(0);
					-o-transform: translateY(0);
					transform: translateY(0);
				}

				h2 {
					opacity: 1;
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					-ms-transform: translateY(0);
					-o-transform: translateY(0);
					transform: translateY(0);
					-webkit-transition-delay: 300ms;
					-moz-transition-delay: 300ms;
					-ms-transition-delay: 300ms;
					-o-transition-delay: 300ms;
					transition-delay: 300ms;
				}

				.descricao {
					opacity: 1;
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					-ms-transform: translateY(0);
					-o-transform: translateY(0);
					transform: translateY(0);
					-webkit-transition-delay: 600ms;
					-moz-transition-delay: 600ms;
					-ms-transition-delay: 600ms;
					-o-transition-delay: 600ms;
					transition-delay: 600ms;
				}

				.btn-box {
					opacity: 1;
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					-ms-transform: translateY(0);
					-o-transform: translateY(0);
					transform: translateY(0);
					-webkit-transition-delay: 900ms;
					-moz-transition-delay: 900ms;
					-ms-transition-delay: 900ms;
					-o-transition-delay: 900ms;
					transition-delay: 900ms;
				}
			}
		}

		.owl-nav {
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
		}

		.owl-next,
		.owl-prev {
			position: absolute;
			left: 0;
			top: 0;
			height: 100px;
			width: 30px;
			color: #ffffff;
			background-color: rgba(255, 255, 255, 0.1);
			font-size: 20px;
			line-height: 100px;
			text-align: center;
			-webkit-transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			transition: all 500ms ease;
		}

		.owl-next {
			left: auto;
			right: 0;
		}

		.owl-next:hover,
		.owl-prev:hover {
			background-color: rgba(255, 255, 255, 0.9);
			color: #222222;
		}
	}

	.info_home {
		.info-cards {
			padding: 20px;

			.info-item {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;

				.item-icon {
					width: 48px;
					height: 48px;
					flex: none;
					background-color: #1b3e7b;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 15px;

					i {
						color: #fff;
					}
				}
				.info-meta {
					font-size: 12px;
					line-height: 20px;
					color: #9b9b9b;

					h6 {
						color: #333;
						font-weight: 800;
						font-size: 17px;
						margin-bottom: 10px;
					}
				}
			}
		}

		.saiba-mais-info {
			background-color: #a2a2a2;
			background-image: url("");
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			border-radius: inherit;
			overflow: hidden;
			position: relative;
			margin: -170px 0 0 20px;
			padding: 50px 50px 60px;
			width: 100%;
			z-index: 1;

			h2 {
				font-family: 'Barlow', sans-serif;
				font-size: 24px;
				line-height: 26px;
				font-weight: 700;
				color: #fff;
				margin-bottom: 18px;
			}

			p {
				font-size: 15px;
				line-height: 24px;
				color: #f9f9f9;
				margin-bottom: 18px;
			}

			.saiba-mais {
				color: #fff;
				font-size: 15px;
				font-weight: 700;
				display: inline-block;

				i {
					height: 32px;
					width: 32px;
					border-radius: 22px;
					background-color: #fff;
					line-height: 33px;
					color: #1b3e7b;
					font-size: 12px;
					margin-left: 10px;
					position: relative;
					text-align: center;
					transition: all 0.3s linear 0s;
				}
			}
		}
	}

	.servicos_home {
		background-image: url();
		background-position: 0 110px;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 70px 0;

		.item {
			margin-top: 20px;
			margin-bottom: 20px;
			text-decoration: none;

			.img {
				height: 300px;
				position: relative;
				overflow: hidden;
				z-index: 1;
				-webkit-border-radius: 3px;
				-khtml-border-radius: 3px;
				-moz-border-radius: 3px;
				-ms-border-radius: 3px;
				-o-border-radius: 3px;
				border-radius: 3px;
				margin-bottom: 0;
				
				img {
					height: 290px;
					width: inherit;
					zoom: 1.3;
				}
			}

			.content {
				padding: 25px;

				.label {
					display: block;
					color: #9b9b9b;
					font-size: 13px;
				}

				.titulo {
					font-family: 'Barlow', sans-serif;
					font-size: 20px;
					color: #333;
					font-size: 16px;
					font-weight: 700;
					line-height: 30px;
					margin-bottom: 0;
				}

				.descricao {
					color: #9b9b9b;
				}

				.btn-mais {
					color: #1b3e7b;
					font-size: 14px;
					font-weight: 700;
					display: inline-block;
					text-decoration: none;

					i {
						height: 24px;
						width: 24px;
						border-radius: 30px;
						background-color: #1b3e7b;
						line-height: 25px;
						color: #fff;
						font-size: 12px;
						position: relative;
						text-align: center;
						transition: all 0.3s linear 0s;
					}

					&:hover i {
						background-color: #1b3e7b;
						transition: all 0.3s linear 0s;
					}
				}
			}
		}

		.owl-theme .owl-dots .owl-dot span {
			width: 20px;
			height: 6px;
		}
		.owl-theme .owl-dots .owl-dot.active span,
		.owl-theme .owl-dots .owl-dot:hover span {
			background: #1b3e7b;
		}
	}

	.empresa_home {
		position: relative;
		width: 100%;
		padding-bottom: 100px;

		.escopo {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin-right: auto;
			margin-left: auto;
			position: relative;
			overflow: hidden;

			.col-texto {
				background: #4d4d4f;
				width: 45%;
				padding: 45px 50px;

				h6 {
					font-family: 'Barlow', sans-serif;
					color: #fff;
					font-weight: 600;
				}

				.titulo {
					font-family: 'Barlow', sans-serif;
					color: #fff;
					font-size: 45px;
					line-height: 1.35em;
				}

				.texto {
					color: #fff;
				}

			}

			.col-img {
				width: 50%;
				position: relative;
			
			}
		}
	}



	.contato_home {
		margin-top: 50px;

		.content-wrapper {
			background: #fff;
			margin-bottom: -100px;
			z-index: 2;
			position: relative;
			padding: 50px;
			border: 1px solid #ddd;
			border-bottom: 2px solid #c3161c;
			border-radius: 4px;

			.box-info {
				background: #4d4d4f;
				padding: 30px;
				color: #fff;

				h1 {
					font-size: 25px;
				}

				hr {
					height: 1px;
					background: #fff;
					width: 70%;
					margin: 15px 0px;
				}

				h2 {
					font-size: 20px;
				}

				p {
					font-size: 14px;
				}

				a {
					font-size: 24px;
					color: #fff;
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					font-weight: 500;

					&:hover {
						text-decoration: none;
					}

					.phone-box {
						display: flex;
						width: 40px;
						height: 40px;
						border: 2px solid #7a7a7b;
						border-radius: 50%;
						align-items: center;
						justify-content: center;
						margin-right: 20px;

						i {
							color: inherit;
							font-size: 16px;
							margin-top: 2px;
						}
					}
				}
			}

			.form-contato {
				form {
					input {
						background: #f4f4f4;
						font-size: 16px;
						font-weight: 300;
						padding: 14px 10px;
						border-radius: 0;
						border: none;
						line-height: 1em;
						height: 3em;
					}

					select {
						background: #f4f4f4;
						font-size: 16px;
						font-weight: 300;
						padding: 14px 10px;
						border-radius: 0;
						border: none;
						line-height: 1em;
						height: 3em;
					}

					textarea {
						background: #f4f4f4;
						font-size: 16px;
						font-weight: 300;
						padding: 14px 10px;
						border-radius: 0;
						border: none;
						line-height: 1em;
					}

					button {
						background: #1b3e7b;
						color: #fff;
						font-size: 16px;
						font-weight: 300;
						padding: 18px 20px;
						border-radius: 0;
						line-height: 1em;
					}
				}
			}
		}
	}
}
