#servicos {
    position: relative;

    .content {
        padding: 40px 0;

        .segmentos {
            
            .item {
                margin-top: 20px;
                margin-bottom: 20px;
                text-decoration: none;
    
                .img {
                    height: 300px;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    -webkit-border-radius: 3px;
                    -khtml-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    border-radius: 3px;
                    margin-bottom: 0;
                    
                    img {
                        height: 290px;
                        width: inherit;
                        zoom: 1.3;
                    }
                }
    
                .content {
                    padding: 25px;
    
                    .label {
                        display: block;
                        color: #9b9b9b;
                        font-size: 13px;
                    }
    
                    .titulo {
                        font-family: 'Barlow', sans-serif;
                        font-size: 20px;
                        color: #333;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 30px;
                        margin-bottom: 0;
                    }
    
                    .descricao {
                        color: #9b9b9b;
                    }
    
                    .btn-mais {
                        color: #1b3e7b;
                        font-size: 14px;
                        font-weight: 700;
                        display: inline-block;
                        text-decoration: none;
    
                        i {
                            height: 24px;
                            width: 24px;
                            border-radius: 30px;
                            background-color: #1b3e7b;
                            line-height: 25px;
                            color: #fff;
                            font-size: 12px;
                            position: relative;
                            text-align: center;
                            transition: all 0.3s linear 0s;
                        }
    
                        &:hover i {
                            background-color: #1b3e7b;
                            transition: all 0.3s linear 0s;
                        }
                    }
                }
            }
            
        }

        .info {
            .texto {
                color: #666666;
            }

            .icon-img {
                background: #fff;
                border-radius: 50%;
                width: 300px;
                height: 300px;
                position: relative;
                margin-top: -150px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                z-index: 9;
                -webkit-box-shadow: 0px 11px 23px -4px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 11px 23px -4px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 11px 23px -4px rgba(0, 0, 0, 0.2);
            }

            .outros-servicos {
                .item {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;

                    .icon {
                        img {
                            width: 80px;
                        }
                    }

                    .titulo {
                        line-height: 20px;
                        margin-left: 10px;

                        h4 {
                            color: $primarycolor;
                            font-size: 16px;
                            font-weight: 800;
                            text-transform: uppercase;
                            font-family: "Signika", sans-serif;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
